ul {
    background-color: aquamarine;
    border-bottom: solid 1px black;

}

.card-text {
    display: -webkit-box;
    /* Fai sì che l'elemento utilizzi una visualizzazione a "box" */
    -webkit-box-orient: vertical;
    /* Specifica che il box è orientato verticalmente */
    overflow: hidden;
    /* Nasconde il testo che eccede il limite */
    text-overflow: ellipsis;
    /* Aggiunge i tre puntini "..." alla fine del testo tagliato */
    -webkit-line-clamp: 5;
}

.card-img-top {
    margin-top: 10px;
    width: 100%
}

.plus {
    align-items: start;
}

.btn-primary {

    text-align: center;
    padding: 5px;
    margin: 1%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.btn-primaryred {

    text-align: center;
    padding: 5px;
    margin: 1%;
    margin-left: 5%;
    margin-bottom: 10px;
    background-color: red;
    color: white;

}

.btn-primarywarning {

    text-align: center;
    padding: 5px;
    margin: 1%;
    margin-left: 5%;
    margin-bottom: 10px;
    background-color: #ffca2c;
    /*colore del testo del pulsante*/
    color: black;

}

.btn-primarysecond {

    text-align: center;
    padding: 5px;
    margin: 1%;
    margin-left: 5%;
    margin-bottom: 10px;
    background-color: #6c757d;
    /*colore del testo del pulsante*/
    color: white;

}

.navbar {

    align-items: start;
}